.cube[contenteditable="true"] {
    outline: none;
    border: none;
    box-shadow: none;
    user-select: text; /* allow text selection */
}

.selecto-area {
    position: relative; /* Important: acts as positioning context */
    width: 75%;
    height: 75%;
    overflow: hidden;
    background-color: ghostwhite;
    box-shadow:
        0 4px 8px rgba(0, 0, 0, 0.3),
        0 0 15px rgba(70, 130, 180, 0.4);
}

body {
    background-color: silver;
}

.cube {
    position: absolute; /* Each box can now be freely placed */
    width: 80px;
    height: 80px;
    background: #4a90e2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: move;
    border-radius: 6px;
}

.selecto-area {
    transform: none; /* or don't define it */
}

.container-lines {
    background-color: blueviolet !important;
    opacity: 1 !important;
}
